<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Home</title>
    <link rel="icon" href="svsICON.png"/>
</head>
<body>
<style>
body{
text-align: center;
background: #9e4b4b;
color: white;
font-family: "Century Gothic";
}
ul{
list-style: none;
}
a{
text-decoration: none;
background: #bf0000;
border-radius: 3px;
color: white;
}
</style>
<h1>Sam's Student Home Page</h1>
<p>This here is my student home page for the Spring 2019 semester of CIS 255.</br> You can find links to all of my course work and projects here. I have decided to</br>select Mr.Van's Shoe Repair here in Saginaw as the business for my websites.</br> </br> Enjoy! - Sam</p>
<ul>
    <li><a href="as01.html">As01</a>: 5-page brochure style site: HTML-only</li>
    <li><a href="as02.html">As02</a>: 5-page brochure style site: HTML-CSS-only </li>
    <li><a href="as03.html">As03</a>: 5-page brochure style site: Bootstrap </li>
    <li><a href="as04.html">As04</a>: JS Exercises</li>
    <li><a href="as05.html">As05</a>: Web app: JS-only</li>
    <li><a href="as06.html">As06</a>: Web app: jQuery / Angular</li>
</ul>


</body>
</html>