<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Courses</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:replace="navigation.html :: topNavigation"></div>

<div class="container">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-3">
            <!--             <a th:href="@{/courses/new}" class="btn btn-primary btn-sm mb-3">Add Teacher</a>
                        <div th:if="${param.added}">
                        <div class="alert alert-info">courses successfully Added</div> -->
        </div>
    </div>

</div>
<table class="table table-striped table-bordered" >
    <thead class="table-dark">
    <tr>
        <th>Student Name</th>
        <th>Course Name</th>
        <th>Material Status</th>
        <th>Progress</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="courses: ${courses}">
        <td th:text="${courses.firstName}+${courses.lastName}"></td>
        <td th:text="${courses.name}"></td>
        <td th:text="${courses.materialStatus}"></td>
        <td th:text="${courses.level}"></td>
        <td>
            <a th:href = "@{/courses/edit/{id} (id=${courses.getId()})}"  class="btn btn-primary">Update Course</a>
            <a th:href = "@{/courses/{id} (id=${courses.getId()})}"  class="btn btn-danger">Drop Course</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>