<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Course Details</title>
</head>

<body>


<div th:replace="Fragments/teacherNav.html :: topNavigation"></div>


<div class="container">
    <br>
    <br>
    <br>
    <br>

    <h3>Course Details</h3>
    <hr>


    <h1 class="h4 mb-4" th:text="'Course : ' + ${course.name}"/>
    <p class="h4 mb-4" th:text="'Description : ' + ${course.description}"/>


</div>

</body>
</html>


