<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Profile</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->


<!--</head>-->
<!--<body>-->
<!--<div class="profile_text">-->

<!--    <div th:replace="Fragments/teacherNav.html :: topNavigation"></div>-->

<!--    <div class="container-fluid">-->
<!--        <h2>Teacher Information</h2>-->

<!--        <div class="panel-group">-->
<!--            <div class="col-sm-6">-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">First Name</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${firstName}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Last Name</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${lastName}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->

<!--            <div class="col-sm-6">-->

<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Email</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${email}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Degree</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${degree}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->

<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Age</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${age}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Gender</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${gender}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->

<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Material Statues</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${material}"></span></h4></div>-->
<!--                </div>-->
<!--                <br>-->
<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Position</div>-->
<!--                    <div class="panel-body"><h4><span th:text="${position}"></span></h4>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


<!--</div>-->

<!--<div class="container-fluid">-->
<!--    <h2>Announcements</h2>-->
<!--    <div class="panel-group" style="font-size: x-large">-->
<!--        <div class="panel panel-default">-->
<!--            <div class="panel-heading">School Announcements</div>-->
<!--            <div class="panel-body">&lt;!&ndash;Type Here&ndash;&gt;</span></h4></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->