<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:fragment="tableBody">

    <td th:text="${user.id}"></td>
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.gender.displayValue}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.degree.displayValue}"></td>
    <td th:text="${user.userRole}"></td>
    <td th:text="${user.username}"></td>
    <!--            <td th:text="${student.Class}"></td>-->
    <td>
        <a th:href="@{/users/edit/{id} (id=${user.getId()})}" class="btn btn-primary">Update</a>
        <a th:href="@{/users/{id} (id=${user.getId()})}" class="btn btn-danger">Delete</a>
    </td>

</div>
</body>
</html>