<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:replace="navigation.html :: topNavigation"></div>

<div class="container">
    <div class="row">
        <h1>List Users</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/users/new}" class="btn btn-primary btn-sm mb-3">Add User</a>
            <div th:if="${param.added}">
                <div class="alert alert-info">User successfully Added</div>
            </div>
        </div>

    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Class</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.dateOfBirth}"></td>
<!--            <td th:text="${student.Class}"></td>-->
            <td>
                <a th:href = "@{/users/edit/{id} (id=${user.getId()})}"  class="btn btn-primary">Update</a>
                <a th:href = "@{/users/{id} (id=${user.getId()})}"  class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>