<html>
<head>
    <title>Home</title>
    <style type="text/css">
body {
	font-family:verdana,arial,sans-serif;
	font-size:10pt;
	margin:30px;
	background-color:#fca503;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #03a1fc;
}
</style>
</head>
<body>

<ul>
    <li><a href="StudentHomePage.html">Home</a></li>
    <li><a href="courses.html">courses</a></li>
    <li><a href="grades.html">grades</a></li>
    <li><a href="#about">About</a></li>
</ul>

</body>
</html>