<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, admin-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration and Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-inverse">
    <!-- Brand -->
    <a class="navbar-brand" href="#" th:href="@{/login}">School Management system</a>
    <!-- Toggler/collapsible Button -->
</nav>

<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>User Login</h1>
            <form th:action="@{/login}" method="post">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out</div>
                </div>


                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" id="username" class="form-control" name="username" required autofocus="autofocus"
                           placeholder="username"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Password</label>
                    <input type="password" id="lastName" class="form-control" placeholder="password" name="password"
                           required autofocus="autofocus"/>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span>Have a Problem? Contact us <a href="#">school@school.com</a> </span>
            </div>
        </div>
    </div>

</body>
</html>