<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>

<div th:replace="navigation.html" :: topNavigation></div>



<h2>Welcome! Your account details are displayed below.</h2>
<h3 th:text = "'Username: ' + ${displayedUser.getUsername()}"></h3>
<!--<h3 th:text = "'Username: ' + ${displayedUser.getUsername()}"></h3>-->
<!--<img src="../static/images/profile.png" th:src="@{/images/profile.png}" th:alt="${displayedUser.getUsername()}" style="width: 150px; height: 150px;"/>-->
<!--<p th:text = "'First Name: ' + ${displayedUser.getFirstName()}"></p>-->
<!--<p th:text = "'Last Name: ' + ${displayedUser.lastName}"></p>-->
<!--<p th:text = "'Date of Birth: ' + ${displayedUser.dateOfBirth}"></p>-->
<!--<p th:text = "'About Me: ' + ${displayedUser.bio}"></p>-->

</body>
</html>